<h1>Buy yourself a galaxy, nebula, or planet! All transportation and security are your responsibility.</h1>

<%= will_paginate @products %>

<%= render 'products' %>
<br>
<%= will_paginate @products %>
