<h1>Cart</h1>

<h2>Celestial Bodies that don't fit in a shopping cart</h2>
<div class="order_products" id="order_products">
  <%= render @order_products %>
</div>

<br>
<h3>Total: $ <span class="cart-total"><%= current_order.total_price.to_i %></span> Million</h3>

<%= link_to "Checkout", new_charge_path %>
